
.navbar{
  justify-content: space-around;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(14, 14, 14, 0.856);
}

li {
  float: left
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 1rem;
}

li a:hover {
  text-decoration: underline;
  color: white;
}
