<div class="container">
  <div class="categories">
    <div>
      <h2>Novedades</h2>
      <div class="listImage">
        <img src="../../../assets/images/spiderman.jpeg" alt="image-list">
        <img src="../../../assets/images/she-hulk.jpeg" alt="image-list">
        <img src="../../../assets/images/doctor-strange.jpeg"alt="image-list">
        <img src="../../../assets/images/thor-love.jpeg" alt="image-list">
        <img src="../../../assets/images/eternals.jpeg" alt="image-list">
      </div>
    </div>
    <div>
      <h2>Películas</h2>
      <div class="listImage">
        <img src="../../../assets/images/avengers.jpeg" alt="image-list">
        <img src="../../../assets/images/black-panther.jpeg" alt="image-list">
        <img src="../../../assets/images/civil-war.jpeg"alt="image-list">
        <img src="../../../assets/images/guardianes-de-la-galaxia.jpeg" alt="image-list">
        <img src="../../../assets/images/capitana-marvel.jpeg" alt="image-list">
      </div>
    </div>
    <div>
      <h2>Series</h2>
      <div class="listImage">
        <img src="../../../assets/images/wandavision.jpeg" alt="image-list">
        <img src="../../../assets/images/loki.jpeg" alt="image-list">
        <img src="../../../assets/images/ms-marvel.jpeg"alt="image-list">
        <img src="../../../assets/images/moonnigth.jpeg" alt="image-list">
        <img src="../../../assets/images/hawkeye.jpeg" alt="image-list">
      </div>
    </div>
  </div>
</div>



